<html>
  <head>
    <title>Shots!</title>
  </head>
  <body>
	  <h1>Click to increment <%= name %>'s shot's by 1</h1>
    <br>  
    <form action="/shots/<%= name %>" method="post">
	<input type="submit">
    </form>
  </body>
</html>
